<div class="container">
    <app-headerlogo></app-headerlogo>
    <div class="authenticate-container">
        <h1>Esqueci minha senha</h1>
        <div class="small">
            <p class="margin-none">Coloque seu nome de usuário e te enviaremos um e-mail para recadastramento de senha.</p>
        </div>
        <form action="/caminhoparaenviar" method="post">
            <label for="user">Usuário:</label>
            <input placeholder="Nome do usuário" type="text" id="user" name="user" required>

            <button class="btn-login" type="submit">Continuar</button>
        </form>
    </div>
    <div class="linha-com-sombra"></div>
</div>