<div class="container">
    <header>
        <div class="header-container">
            <a routerLink="/home" routerLinkActive="active"><img class="img-header" ngSrc="assets/gif/Logo_Animada.gif"
                    width="334" height="134" alt=""></a>
            @if(userName){
            <div class="dropdown" (mouseleave)="hideOptions()">
                <button (click)="toggleDropdown()">{{userName}}</button>
                @if(isOpen){
                <div class="dropdown-content">
                    <button>Opções</button>
                    <button (click)="this.authService.logout();">Sair</button>
                </div>
                }
            </div>
            }@else {
            <button> <a routerLink="/login">Fazer Login</a></button>
            }
        </div>
    </header>
    <div class="camera-container">
        <div class="user1-camera">
            <video id="user1" class="userCamera" autoplay playsinline></video>
        </div>
        <div class="user2-camera">
            <video id="remote" class="userCamera" autoplay playsinline></video>
        </div>
    </div>
    <div class="chat">
        <div id="chatContainer" class="chat-container">
            <div id="chatBox" class="chat-box">
                <div *ngFor="let message of messages">{{ message }}</div>
            </div>
        </div>
        <div class="sendButton-container">
            <input type="text" [(ngModel)]="newMessage" id="chatInput" class="chat-input"
                placeholder="Digite sua mensagem..." />
            <!-- <button id="sendButton" class="send-button" (click)="sendMessage()">Enviar</button> -->
            <button (click)="sendMessage()" >Enviar</button>
            <button (click)="disconnect()" >PARAR</button>
            <button (click)="muteAudio()" class="=stop-button">Mutar audio</button>
            <button (click)="unMuteAudio()" class="=stop-button">Desmutar audio</button>
            <button (click)="nextPeer()" class="=stop-button">Próximo</button>
        </div>
    </div>
</div>