.container {
    background: linear-gradient(180deg, #000 0%, #000516 21.72%, #0E1F57 100%);
    height: 100vh;
}

.container header img {
    width: 336px;
    height: 134px;
}

.container h1 {
    color: white;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-container .header-text {
    position: absolute;
    left: 46%;
    top: 40%;
}

.camera-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 35vh;
}

.user1-camera {
    margin-right: 50px;
}

.userCamera {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    gap: 20px;
}

.chat-container {
    margin-top: 18px;
    width: 40%;
    height: 80%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #bebfd4;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.chat-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    padding: 10px 10px;
    border: none;
    background-color: #717192;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    height: 80%;
    right: 32%;
    top: 22%;
}

.send-button:hover {
    background-color: #0056b3;
}

.chat-message {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Estilização para diferenciar mensagens enviadas e recebidas */
.chat-message.sent {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
}

.chat-message.received {
    align-self: flex-start;
    background-color: #f1f1f1;
}

.sendButton-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sendButton-container input {
    width: 30%;
    height: 70%;
    margin-right: 10px;
}

.stop-button {
    padding: 10px 10px;
    border: none;
    background-color: #961107;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    height: 80%;
    right: 66%;
    top: 22%;
}

.header-container button {
    display: flex;
    padding: 9px 18px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 40px;
    background: #FFF;
    color: #146BC4;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 158.7%;
    letter-spacing: -0.42px;
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 12px 0px 8px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-content button {
    height: 10px;
    border: none;
    transition: transform 0.1s ease;
}

.dropdown-content button:hover {
    background-color: blue;
    color: white;
}

.dropdown-content button:active {
    transform: scale(0.98);
}