.container {
    background: linear-gradient(180deg, #000 0%, #000516 21.72%, #0E1F57 100%);
    height: 100vh; /* Gradiente da esquerda (preto) para a direita (azul escuro) */
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-container img {
    width: 183px;
    height: 47px;
    flex-shrink: 0;
}

.header-container button {
    display: inline-flex;
    padding: 9px 18px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #FFF;
    color: #146BC4;
    text-align: right;
    // font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 158.7%; /* 22.218px */
    letter-spacing: -0.42px;
}

.container div h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 117.7%; /* 54.142px */
    letter-spacing: -1.38px;
    background: linear-gradient(180deg, #F2F2F2 0%, #8E8E8E 46.88%, rgba(0, 0, 0, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // width: 668px;
    // height: 123.031px;
    flex-shrink: 0;
    margin: 0;
}

.container div p {
    color: #FFF;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 275;
    line-height: 158.7%; /* 25.392px */
    letter-spacing: -0.48px;
}

.content-container {
    display: flex;
    justify-content: space-around;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play-container .play-button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at center, #0099ff 0%, #0066ff 100%);
}

.play-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-container .principal-image {
    margin-bottom: 20px;
}

.play-container h1 {
    margin-bottom: 40px !important;
}