<div class="container">
    <header>
        @if(this.popupService.openPopUp()){
        <app-popup></app-popup>
        }
        <div class="header-container">
            <img ngSrc="assets/gif/Logo_Animada.gif" width="672" height="268">
            @if(userName){
            <div class="dropdown" (mouseleave)="hideOptions()">
                <button (click)="toggleDropdown()">{{userName}}</button>
                @if(isOpen){
                <div class="dropdown-content">
                    <button>Opções</button>
                    <button (click)="this.authService.logout()">Sair</button>
                </div>
                }
            </div>
            }@else {
            <button [routerLink]="['/login']"> Fazer Login</button>
            }
        </div>
    </header>
    <div class="content-container">
        <div class="text-container">
            <h1>Abra as portas para o mundo.</h1>
            <p>Explore, conecte-se e celebre a diversidade global. Cada clique em nosso chat roulette <br> abre um mundo
                de possibilidades e amizades além das fronteiras.</p>
        </div>
        <div class="play-container">
            <img class="principal-image" src="assets/png/PrincipalHomeImage.png">
            <h1>Iniciar Conversa Agora</h1>
            <button [routerLink]="['/video']" class="play-button">
                <img src="assets/svg/buttonPlay.svg" alt="">
            </button>
        </div>
    </div>
</div>