<div class="container">
    <div class="container-header">
        <div class="header-image">
            <a href=""><img class="img-header" src="assets/comigle.jpeg" alt=""></a>
        </div>
        <div class="header-login">
            <button class="btn-home-login">Fazer Login</button>
        </div>
    </div>
    <div class="container-content">
        <div class="content-text">
            <h1>Abra as portas para o mundo</h1>
            <p>Explore, conecte-se e celebre a diversidade global. <br>
                Cada clique em nosso chat abre um mundo de possibilidades </p>
        </div>
        <div class="content-play">
            <img class="img-comunication" src="assets/comunicacao.jpg" alt="">
            <h1>Iniciar conversa agora</h1>
            <button class="btn-play"><img class="img-play" src="assets/buttonplay.png" alt=""></button>
        </div>  
    </div>
</div>