<div class="container">
    <app-headerlogo></app-headerlogo>
    @if(this.messageService.messageSource().message){
    <div class="message-container">
        <div id="message-alert" class="alert" [ngClass]="this.messageService.messageClass">
            {{ this.messageService.messageSource().message }}
        </div>
    </div>
    }
    <div class="authenticate-container">
        <h1>Fazer login</h1>
        <form [formGroup]="loginForm" #formDir="ngForm">
            <label for="user">Usuário:</label>
            <input formControlName="username" placeholder="Login do usuário" type="text" id="user" name="user"
                [class.is-invalid]="username.invalid && formDir.submitted">
            @if(username.invalid && formDir.submitted){
            <div class="control-errors invalid-feedback">
                <p>! Usuário é obrigatório</p>
            </div>
            }

            <label for="password">Senha:</label>
            <input formControlName="password" placeholder="Senha do usuário" type="password" id="password"
                name="password" [class.is-invalid]="password?.invalid && formDir.submitted">
            @if(password?.invalid && formDir.submitted){
            <div class="control-errors invalid-feedback">
                <p>! Senha é obrigatória</p>
            </div>
            }

            <button (click)="login()" class="btn-login" type="submit">Entrar</button>

            <div class="small-size">
                <p>Ao continuar, você concorda com as Condições de Uso da Amazon. Por favor verifique a Notificação de
                    Privacidade, Notificação de Cookies e a Notificação de Anúncios Baseados em Interesse.</p>
            </div>

            <div class="linha-com-sombra"></div>
        </form>
        <div class="small">
            <p class="margin-none">É novo aqui ? <a [routerLink]="['/register']">Cadastre-se</a> </p>
            ou
            <p>Esqueceu a senha ? clique <a [routerLink]="['/forgetpassword']">aqui</a></p>
        </div>
    </div>
    <div class="linha-com-sombra"></div>
</div>