<div class="container">
    <app-headerlogo></app-headerlogo>
    <div class="authenticate-container">
        <h1>Fazer login</h1>
        <form action="/caminhoparaenviar" method="post">
            <label for="user">Usuário:</label>
            <input placeholder="Login do usuário" type="text" id="user" name="user" required>

            <label for="password">Senha:</label>
            <input placeholder="Senha do usuário" type="password" id="password" name="password" required>

            <button class="btn-login" type="submit">Entrar</button>

            <div class="small-size">
                <p>Ao continuar, você concorda com as Condições de Uso da Amazon. Por favor verifique a Notificação de
                    Privacidade, Notificação de Cookies e a Notificação de Anúncios Baseados em Interesse.</p>
            </div>

            <div class="linha-com-sombra"></div>
        </form>
        <div class="small">
            <p class="margin-none">É novo aqui ? <a href="/register">Cadastre-se</a> </p>
            ou
            <p>Esqueceu a senha ? clique <a href="/forgetpassword">aqui</a></p>
        </div>
    </div>
    <div class="linha-com-sombra"></div>
</div>