/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@200;400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --light-blue: rgb(4, 182, 241);
}

body {
    background: linear-gradient(180deg, #000 0%, #000516 21.72%, #0E1F57 100%);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.authenticate-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
    margin: auto;
    padding: 0px 16px 16px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    // max-width: 300px;
}

.btn-login {
    padding: 10px;
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: blue;
    color: white;
}

.small-size p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

.small {
    font-size: 12px !important;
    line-height: 1.5 !important;
}

.linha-com-sombra {
    height: 44px;
    // margin-bottom: -18px;
    background: linear-gradient(to bottom, rgb(34, 26, 105), rgba(70, 2, 2, 0.03) 3px, transparent);
    zoom: 1;
}

form {
    display: flex;
    flex-direction: column;
}

a {
    color: #0090FF;
    /* Uma cor azul que se destaca mas ainda se encaixa no esquema de cores */
    text-decoration: none;
    /* Sem sublinhado por padrão */
    cursor: pointer;
    /* Muda o cursor para a mão quando passar o mouse */
}

a:hover {
    text-decoration: underline;
}

.margin-none {
    margin: 0;
}

label {
    margin-bottom: 5px;
    font-weight: 700;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.img-header {
    width: 334px;
    height: 134px;
    padding: 18px;
}

.authenticate-container {
    color: white;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#message-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21vh;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-errors p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: small;
    // color: red;
}

/* Estiliza o campo de input com borda vermelha quando inválido */
input.is-invalid {
    border-color: #dc3545;
    background-color: #fff1f0;
}

/* Estilo para a mensagem de feedback de erro */
.invalid-feedback {
    color: #dc3545;
    display: block;
}

.fadeOut {
    animation: fadeOutAnimation 4s forwards; /* ajuste a duração conforme necessário */
  }
  
  @keyframes fadeOutAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }