<div class="container">
    <app-headerlogo></app-headerlogo>
    @if(messageService.messageSource().message){
    <div class="message-container">
        <div id="message-alert" class="alert" [ngClass]="this.messageService.messageClass">
            {{ messageService.messageSource().message }}
        </div>
    </div>
    }
    <div class="authenticate-container">
        <h1>Alterar senha</h1>
        <div class="small">
            <p class="margin-none">Coloque sua nova senha e a confirme, para que alteremos sua senha!
            </p>
        </div>
        <form [formGroup]="resetPasswordForm" #formDir="ngForm">
            <label for="newPassword">Nova senha:</label>
            <input formControlName="newPassword" placeholder="Nova senha" type="password" id="newPassword"
                name="newPassword" [class.is-invalid]="newPassword.invalid && formDir.submitted">

            <label for="confirmPassword">Confirmar senha:</label>
            <input formControlName="confirmPassword" placeholder="Confirme sua nova senha" type="password"
                id="confirmPassword" name="confirmPassword"
                [class.is-invalid]="confirmPassword.invalid && formDir.submitted">

            <button (click)="onResetPassword()" class="btn-login" type="submit">Confirmar</button>
        </form>
    </div>
    <div class="linha-com-sombra"></div>
</div>